[Unit]
Description=cloudflared container for remotely accessing homelab via Cloudflare Tunnel

[Container]
ContainerName=cloudflared
Exec=tunnel run
Image=docker.io/cloudflare/cloudflared:2026.3.0
Network=homelab.network
EnvironmentFile=%h/homelab/cloudflared/secrets/cloudflared_tunnel_token

[Service]
Restart=always
RestartSec=10

[Install]
# Start automtically by default on boot
WantedBy=default.target
