[Unit]
Description=Grafana container for homelab monitoring

[Container]
ContainerName=grafana
Image=docker.io/grafana/grafana-oss:13.2.1
Network=homelab.network
PublishPort=3000:3000
Volume=grafana.volume:/var/lib/grafana

[Service]
Restart=always

[Install]
# Start automtically by default on boot
WantedBy=default.target
